{% extends 'base.html' %}
{% load static %}



    {% block title %}
          <title> welcome Taskmaet</title>
    {% endblock %}

    {% block content %}
    <div class="container">
      <div class="row mt-3">
        <div class="col">
          <img src="{% static 'images/unsplash.jpg' %}" alt="my image"   class="shadow " class="rounded-3" width="300" height="250">
        </div>
        <div class="col">
          <img src="{% static 'images/unsplash.jpg' %}" alt="my image"  class="shadow " class="rounded-3" width="300" height="250" >
        </div>
        <div class="col">
          <img src="{% static 'images/unsplash.jpg' %}" alt="my image"  class="shadow  " class="rounded-3" width="300" height="250" ><!--class="img-fluid"-->
        </div>
      </div>
    </div>
    <div class="mt-3">
    <div classclass="col-md-6 offset-md-3">
      <center><p class="h1 text-primary">Quick and easy to use , very simple to use<p></center>
        <center><p class="h2">plan your day better, Get your life organised  </p></center>
        <center><p class="h5"> TASLMATE let's help You Keep Track  of  your task </p></h5></center>
        <center><a href ="{%url 'todolist'%}"<button type="button" class="btn btn-primary btn-lg mt-3 shadow-lg">let's get Started </button></a></center>
    </div>
  </div>
     

     {% endblock content %}
     